
<form [formGroup]="loginForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>login!!!!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
            
                <mat-label>User Name</mat-label>
                <input formControlName="UserName" matInput minlength="8">
            
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              </mat-form-field>
          </div> 
          
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
 