.navbar{
    background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


justify-content: space-between;

}
a{
padding-right: 1rem;
}
/* html{
    background: url('../assets/images/1318015.jpg') no-repeat center fixed;     
    background-size: cover;
} */